body, html {
    /* Frame */

position: relative;
width: 1445px;
height: 4759px;
margin: auto;

}

/* Home */
.home {
position: absolute;
left: 17.44%;
right: 79.15%;
top: 0.69%;
bottom: 98.82%;

font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;

/* Black */
color: #070707;

}

/* About me */
.about {
position: absolute;
left: 31.62%;
right: 62.68%;
top: 0.69%;
bottom: 98.82%;

font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;

color: #828282;

}

/* Skills */
.skills {
position: absolute;
left: 48.09%;
right: 48.99%;
top: 0.69%;
bottom: 98.82%;

font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;

color: #828282;

}

/* Portfolio */
.port {
position: absolute;
left: 61.71%;
right: 33.29%;
top: 0.67%;
bottom: 99.03%;

font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;
text-align: center;

color: #828282;

}

/* Contacts */
.contact {
position: absolute;
left: 77.48%;
right: 17.16%;
top: 0.69%;
bottom: 98.82%;

font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;

color: #828282;

}

/* Denis Novik */
.denis {
position: absolute;
left: 17.37%;
right: 74.08%;
top: 1.69%;
bottom: 94.82%;

font-family: 'Gilroy-Bold';
font-size: 47.3392px;
line-height: 59px;

/* Black */
color: #070707;


}

/* Vector */
.vector {
position: absolute;
width: 65%;
height: 0px;
left: 250.69px;
top: 87.94px;

border: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);

}

/* UX | UI designer 24 years old, Minsk */
.ux {
position: absolute;
left: 46.49%;
right: 42.74%;
top: 3.69%;
bottom: 95.22%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;

/* Black */
color: #070707;



}

/* Главная */
.ru {
position: absolute;
width: 68px;
height: 17.05px;
left: 1138.25px;
top: 4.00%;

transform: rotate(-90deg);

}

/* Group 2.1 */
.img {
position: absolute;
width: 943.61px;
height: 387px;
left: 250.69px;
top: 276.94px;



}

/* About me */
.about-2 {
position: absolute;
left: 44.68%;
right: 44.54%;
top: 18.66%;
bottom: 80.43%;

font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;

/* Black */
color: #070707;

}

/* /* Hi, I'm Denis  */

.denis-2 {
position: absolute;
width: 485.34px;
height: 218px;
left: 480.33px;
top: 949px;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;

/* Black */
color: #070707;

}

/* Skills */
.skill {
position: absolute;
left: 45.8%;
right: 45.59%;
top: 28.68%;
bottom: 70.77%;

font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;

/* Black */
color: #070707;

}

/* I work in such programs as */
.text {
position: absolute;
left: 42.18%;
right: 42.04%;
top: 30.68%;
bottom: 68.81%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;

/* Black */
color: #070707;

}

/* Group 6 */
.img-2 {
position: absolute;
width: 166.46px;
height: 206.29px;
left: 255.71px;
top: 1566.65px;

}

/* Group 6 */
.img-3 {
position: absolute;
width: 166.46px;
height: 206.27px;
left: 512.42px;
top: 1567.67px;

}

/* Group 6 */
.img-4 {
position: absolute;
width: 166.46px;
height: 206.27px;
left: 769.13px;
top: 1567.67px;

}

/* Group 7 */
.img-5 {
position: absolute;
width: 166.46px;
height: 205.27px;
left: 1025.84px;
top: 1567.67px;

}

/* Portfolio */
.portfoil {
position: absolute;
left: 45.62%;
right: 45.21%;
top: 41.96%;
bottom: 57.13%;

font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;

/* Black */
color: #070707;

}

/* Слой 8 */
.sloy {
position: absolute;
width: 936.24px;
height: 510px;
left: 257.71px;
top: 2087px;

background: url(./Слой\ 8.png);

}

/* Online fashion store - Homepage */
.text-2 {
position: absolute;
left: 40.79%;
right: 40.1%;
top: 55.51%;
bottom: 44.02%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;

/* Black */
color: #070707;

}

/* reebok_web */
.reebok {
position: absolute;
width: 936.24px;
height: 522px;
left: 256.89px;
top: 2763px;

background: url(./reebok_web.png);

}

/* Reebok Store - Concept */
.text-3 {
position: absolute;
left: 43.36%;
right: 42.6%;
top: 69.97%;
bottom: 29.57%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;

/* Black */
color: #070707;

}

/* reebok_web */
.img-6 {
position: absolute;
width: 936.24px;
height: 522px;
left: 252.7px;
top: 3451px;

background: url(./img/reebok.png);

}

/* Braun Landing Page - Concept */
.text-4 {
position: absolute;
left: 41.42%;
right: 40.65%;
top: 84.45%;
bottom: 15.09%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;

/* Black */
color: #070707;

}

/* Contacts */
.text-5 {
position: absolute;
left: 44.89%;
right: 45.03%;
top: 89.33%;
bottom: 9.76%;

font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;

/* Black */
color: #070707;

}

/* Want to know more or just chat? You are welcome! */
.text-6 {
position: absolute;
left: 40.86%;
right: 40.1%;
top: 90.66%;
bottom: 8.42%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;

/* Black */
color: #070707;

}

/* Group 11 */
.btn {
position: absolute;
width: 180.5px;
height: 42px;
left: 634.76px;
top: 4388px;
background-color: #070707;
color: white;

}

.btn:hover {
    background-color: aqua;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    transition: all 1s;
}

/* Group 12 */
.img-7 {
position: absolute;
width: 342.18px;
height: 40.92px;
left: 552.29px;
top: 4515.78px;

}


/* Like me on LinkedIn, Instagram, Behance, Dribble */
.text-7 {
position: absolute;
left: 41.83%;
right: 41.35%;
top: 96.7%;
bottom: 2.59%;

font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 17px;
text-align: center;

color: #828282;

}